@model IEnumerable<SGE.Models.Notas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Materias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alunos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etapas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Materias.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alunos.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etapas.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
            <td>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit</a> 
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Details</a> 
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-primary">Delete</a>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
